body {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/background.svg);
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

main h1 {
    font-size: 25px;
}

main p {
    font-size: 12px;
}

main section {
    align-self: center;
}

main section span {
    justify-self: left;
    align-self: flex-start;
}